

/* Header navigation*/

.navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    background-color: #f8f4f0;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navbar with max width */
.navbar-custom {
    width: 100%;
    max-width: 1920px;
    padding: 10px 20px;
    align-items: center;
}

.navbar-wrapper::after {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, #e4e0dd, transparent);
}




.navbar-brand img {
    height: 90px;
    padding-right: 60px;


}

.navbar-nav {
    display: flex;
    align-items: center;

}

.nav-item {
    padding: 15px;
}

.nav-link {
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 19px;
    color: #555552;
    font-family: monospace;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: white;
    background: black;
    border-radius: 9px;
}



.contact-button {
    padding: 8px 16px;
    border-radius: 25px;
    color: #555552;
    border: 2px solid #555552;
    background: transparent;
    font-size: 23px;
    cursor: pointer;
    font-family: monospace;
    transition: all 0.3s ease-in-out;

    /* Reduce space between navbar and Contacts button */
}

.contact-button:hover {
    background: black;
    color: white;
}